.containerTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}
