footer{
    width: 100%;
    background-image: url(../img/Footer.svg);
    margin-top: 40px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
footer .redes-footer{
    text-align: center;
}
.container-footer footer{
    max-width: 1200px;
    margin: auto;
}
.container-footer-info{
    max-width: 800px;
    height: 250px;
    padding-bottom: 16px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    z-index: 1;
}
.container-footer h1{
    text-align: center;
    display: flex;
    justify-content: bottom;
    align-items: center;
    color: white;
}